.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    height: 150px;
    padding: 5px 100px;
    flex-wrap: wrap;
}

header div{
    margin: 10px 60px;
}

h4{
    color: hsl(228, 34%, 66%);
}

/* #esq{
    margin-right: 0;
} */

#dir{
    margin-right: 125px;
}

#esq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.checkbox{
    visibility: hidden;
}

.switch .btn{
    margin-top: -4px;
    width: 65px;
    height: 29px;
    background-image: linear-gradient(to right, #378FE6 , #3EDA82);
    border-radius: 20px;
    padding: 3px;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
    
}

.switch .btn:before{
    content: '';
    height: 23px;
    width: 23px;
    background-color:hsl(230, 17%, 14%);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
}

.switch input:checked + .btn {
    background: hsl(230, 22%, 74%);
}

.switch input:checked +.btn:before{
    transform: translateX(35px);
    background-color: white;
}
